@keyframes slideInFromTop {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.imageContainer {
  position: relative;
  margin-bottom: 1.5rem;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}
.imageContainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  border-radius: 1.5rem;
}
.imageContainer:hover .after {
  display: flex;
  background: rgba(129, 129, 129, 0.3);
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  cursor: zoom-in;
}
