@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

.form-component {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-animation {
  animation: 0.1s visible;
}
